body{
	font-family: "Gotham Book";
	font-size: 14px;
	font-weight: normal;
	background: #323232;
	height: 100%;
}

header{
	height: 155px;
	padding: 20px;
	position: fixed;
	background: #323232;
	z-index: 99999;
	top: 0;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

header .logo img{
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header.small{
	height: 98px;
	padding: 18px 0px;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.9);
}

header > div{
	height: 100%;
}

#page{
	position: absolute;
}
.left{
	float: left;
}

.right{
	float: right;
}
.svg-logo{
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	display: block;
}

.svg-logo.big{
	width: 117px;
	height: auto;
}

.svg-logo.mini{
	width: 63px;
	height: auto;
}

.logo{
	color: #323232;
	display: inline-block;
}

.menu{
	background: url("../images/menu.png") no-repeat center center;
	width: 30px;
	height: 100%;
	display: table;
	text-align: center;
	margin: 0 11px;
	position: relative;
	float: right;
}

.menu li{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.menu li a{
	font-size: 13px;
	font-family: "Gotham Light";
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0px 10px;
}

.menu li a:hover{
	text-decoration: underline;
}

.menu li .ctn-menu{
	position: absolute;
	top: 0px;
	left: 0;
	color: #FFFFFF;
	text-align: left;
	height: 100%;
	background: #323232;
	width: 720px;
	max-width: 720px;
	z-index: 99999;
}

.menu li .ctn-menu .men-text{
	display: table-cell;
	vertical-align: middle;
	line-height: 18px;
	font-size: 13px;
}

.menu.mini li .ctn-menu .men-text{
	line-height: 13px;
	font-size: 12px;
}

.menu li .ctn-menu .dv-close{
	position: absolute;
	display: table;
	height: 100%;
	width: 240px;
	z-index: 99999;
}

.menu li .ctn-menu .dv-close .close{
	display: table-cell;
	vertical-align: middle;
}

.hidden{
	display: none !important;
}

.ctn-menu.active{
	display: table;
}

.ctn-search{
	position: relative;
}

.ctn-search .search{
	font-family: "Gotham Light";
	vertical-align: middle;
	width: 100%;
	height: 45px;
	border: 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: none;
	margin: 33px 0;
	padding: 0 20px 0 48px;
	color: #FFFFFF;
	font-size: 16px;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

header.small .ctn-search .search{
	margin: 9px 0;
}

header.small .ctn-search .i-search{
	top: 11px;
}

.ctn-search .i-search{
	background-position: left center;
	position: absolute;
	left: 5px;
	top: 37px;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.social{
	display: table;
	height: 100%;
}

.lnk-social{
	vertical-align: middle;
	height: 100%;
	display: table-cell;
}

.social a{
	display: table-cell;
	padding: 0 10px;
}

.social a.instagram{
	background: url("../images/instagram.png") no-repeat;
	width: 43px;
	height: 43px;
}

.social a.facebook{
	background: url("../images/facebook.png") no-repeat;
	width: 43px;
	height: 43px;
}

.ctn-content{
	width: 100%;
	margin-top: 155px;
}

.ctn-content .thumb-video{
	opacity: 0;
	width: 24%;
	height: auto;
	cursor: pointer;
	margin-left: 0.8%;
	margin-top: 0.8%;
	float: left;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ctn-content .thumb-video img{
	width: 100%;
}

.ctn-content .thumb-video .caption{
	cursor: pointer;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: #FFFFFF;
	padding: 30px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.caption.inative{
	bottom: -100%;
}

.caption.active{
	bottom: 0;
}

.ctn-content .thumb-video.opacity{
	opacity: 0.3 !important;
}

.ctn-content .thumb-video .caption .icons{
	position: absolute;
	display: table;
	min-width: 70px;
	right: 8px;
	top: 19px;
}

.ctn-content .thumb-video .caption .play{
	background: url("../images/play.png") no-repeat bottom right;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: 100%;
	height: 30px;
	display: block;
	position: absolute;
	bottom: 10px;
	left: -10px;
}

.ctn-content .thumb-video .caption .icons .likes{
	background: url("../images/star.png") no-repeat center top;
	display: table-cell;
	line-height: 70px;
	text-align: center;
	width: 30px;
}

.ctn-content .thumb-video .caption .icons .comments{
	background: url("../images/comments.png") no-repeat center 1px;
	text-align: center;
	display: table-cell;
}

.ctn-content .thumb-video .caption .text-image{
	font-family: "Gotham Book";
	line-height: 21px;
	font-size: 12px;
	width: 82%;
	max-height: 80%;
	overflow: hidden;
}

.ctn-content .thumb-video .caption h1{
	font-family: "Gotham Bold";
	font-size: 15px;
	color: #000000;
	margin-bottom: 20px;
}


.ctn-content .ctn-load{
	position: fixed;
	bottom: 20px;
	width: 100%;
}

.ctn-content .loading{
	background: #000;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	width: 120px;
	height: 33px;
	margin: 0 auto;
	position: relative;
	line-height: 32px;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.ctn-content .loading.inative{
	opacity: 0;
}

.ctn-content .loading.active{
	opacity: 1;
}


.ln-l{
	background: #FFFFFF;
	width: 100%;
	height: 1px;
	display: block;
	margin-bottom: 2px;
}

.tx-l{
	display: block;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 17px;
	font-family: "Gotham Book";
}

.tx-link{
	text-decoration: underline;
}

strong{
	font-family: "Gotham Book";
	font-weight: 600;
}

.menu li .ctn-menu.ctn-contact{
	width: 480px;
}

.movie-mask{
	background: rgba(50, 50, 50, 0.9);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.movie-modal{
	max-width: 943px;
	height: 615px;
	margin: 5% auto;
	position: relative;
}

.movie-modal .mv-media{
	background: #323232;
	height: 100%;
}

.movie-modal .mv-lnk{
	height: 100%;
}

.movie-modal .mv-info{
	background: #FFFFFF;
	height: 100%;
	padding: 58px 30px 30px 30px;
}

.movie-modal .mv-info h1{
	font-family: "Gotham Medium";
	margin-top: 5px;
	margin-bottom: 30px;
}

.movie-modal .mv-info .mv-description{
	font-family: "Gotham Book";
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	z-index: 99999;
	position: relative;
}

.overflow{
	overflow: hidden;
}

.num-social{
	position: absolute;
	right: 0;
	top: 38px;
	padding: 15px;
}

.num-social .mv-likes{
	background: url("../images/star.png") no-repeat top center;
	color: #000000;
	line-height: 70px;
	text-align: center;
	width: 30px;
	float: left;
	margin-right: 8px;
}

.num-social .mv-comments{
	background: url("../images/comments.png") no-repeat center 2px;
	line-height: 71px;
	width: 30px;
	color: #000000;
	text-align: center;
	float: left;
}

.header-mobile{
	display: none;
	position: fixed;
	top: 0;
	background: #323232;
	z-index: 99999;
	width: 100%;
	height: 80px;
}

.header-mobile .columns{
	height: 100%;
}

.header-mobile .menu-mobile{
	width: 30px;
	height: auto;
	display: inline-block;
	margin: 26px 7px;
}

.header-mobile .ctn-search .search{
	margin: 0 auto;
}

.header-mobile .bg-search{
	height: 0;
	overflow: hidden;
	background: #323232;
	top: -3px;
	position: relative;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.header-mobile .ctn-search .i-search{
	top: 2px;
}

.header-mobile .menu-mobile img{
	width: 100%;
}

.header-mobile .lg-mobile{
	text-align: center;
	display: block;
}

.header-mobile .logo-mobile{
	width: 70px;
	margin: 7px auto;
	text-align: center;
}

.header-mobile .sr-mobile{
	width: 30px;
	height: auto;
	display: inline-block;
	margin: 24px 10px;
	float: right;
}

.header-mobile .sr-mobile img{

}

.movie-modal.mobile{
	height: auto;
	max-width: 100%;
}

.movie-modal.mobile .mv-media{
	width: 100%;
	height: auto;
}

.movie-modal.mobile .mv-media video{
	width: 100%;
	height: auto;
}

.movie-modal.mobile .mv-info{
	top: -2px;
	position: relative;
}

.movie-modal.mobile .close-modal{
	width: auto;
	height: auto;
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 20px;
	z-index: 99999;
}

.movie-modal.mobile .close-modal img,
.movie-modal.normal .close-modal img{
	width: 100%;
}

.movie-modal.normal .close-modal{
	position: absolute;
	width: auto;
	height: auto;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99999;
}

.box-content{
	width: 100%;
	float: left;
}

.box-content.active-menu,
.box-content header.active-menu,
.box-content .header-mobile.active-menu{
	width: 70%;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.box-menu{
	background: #4C4C4C;
	width: 480px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: auto;
	z-index: 99999;
	overflow: auto;
	-webkit-backface-visibility: hidden; /*Most Important*/
	backface-visibility: hidden; /*Most Important*/
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.tpl-mobile .box-menu.hide,
.box-menu.hide{
	right: -480px;
	opacity: 0;
}

.tpl-mobile .box-menu{
	opacity: 1;
	width: 100%;
}

.close-menu{
	background: url("../images/close-menu.png") no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	margin: 10px;
	float: right;
}

.menu-social{
	margin-top: 60px;
	padding: 15px;
}

.menu-social a{
	margin-right: 15px;
}

.menu-link{
	padding: 15px;
	margin-top: 40px;
}

.menu-link a{
	font-family: "Gotham Book";
	display: inline-block;
	line-height: 25px;
	color: #FFFFFF;
	text-decoration: none;
}

.menu-link a.nover{
	color: #B2B2B2;
}

.menu-link a.hover{
	color: #FFFFFF;
}

.menu-text{
	font-family: "Gotham Light";
	padding: 15px;
	margin-top: 10px;
	font-size: 13px;
	line-height: 19px;
	color: #FFFFFF;
}

.menu-text a{
	text-decoration: underline;
	color: #FFFFFF;
}

@media screen and (max-width: 1000px){
	.ctn-content .thumb-video {
		width: 32.2%;
	}
}

@media screen and (max-width: 770px){
	.ctn-content .thumb-video {
		width: 48.7%;
		display: block;
	}

	.ctn-content{
		margin-top: 85px;
	}

	header.normal{
		display: none;
	}

	.header-mobile{
		display: block;
	}
}

@media screen and (max-width: 523px){
	.ctn-content .thumb-video {
		margin-left: 2.5%;
		margin-bottom: 2.5%;
		width: 95%;
		display: block;
	}
}

@media screen and (max-width: 330px){
	.ctn-content .thumb-video {
		margin-left: 2.5%;
		margin-bottom: 2.5%;
		width: 95%;
		display: block;
	}
}